.cask
/**/*.bak
auto-save-list
backups
elpa
eshell
/**/*.el~
/lib/**/*.el
/places
/secure
/session.*
url
var
request
.trello
/experimental
/projectile-bookmarks.eld
/bookmarks
/.achievements
/network-security.data
/ac-comphist.dat
/.emacs.desktop
/.DS_Store
/t
/tramp
/srecode-map.el
/smex-items
/recentf
/helm-adaptive-history
/.mc-lists.el
/meghanada
.cache
/customizations.el
/projectile.cache
quelpa
magithub
/ido.last
transient
main.el
/.caches/
